.loa1-letter,.acro-letter{
  font-family:Arial,Helvetica,sans-serif;
  font-weight:800;
  color:var(--red);
  font-size:1.06em;
}
.loa2-word,.tel-word{
  font-family:"Courier New",Courier,monospace;
  font-weight:700;
  color:var(--red);
}
.loa2-key{
  font-family:Arial,Helvetica,sans-serif;
  font-weight:900;
  text-decoration:underline;
  text-underline-offset:.14em;
}
.loa-center-origin{
  font-family:Arial,Helvetica,sans-serif;
  font-weight:800;
  color:var(--red);
  letter-spacing:.025em;
}
